body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  margin: 0 auto;
  background: linear-gradient(skyblue, lightgreen);
  border: 2px solid #000;
  width: 100vw;
  height: 100vh;
}

.city {
  z-index: 0;
  position: absolute;
  bottom: 0;

  /* overflow: hidden; */

  width: 100%;
  height: 100%;
  overflow: hidden;

}

.city img {

  /* max-width: 100%; */
  height: 100%;

  /* display: block; */
  /* object-fit: cover; */
}


#game-container {
  z-index: 10;
  position: relative;
  width: 100%;
  /* Fixed width for game logic */
  height: 100%;
  /* Fixed height for game logic */
  /* margin: 20px auto; */
  /* border: 3px solid #333; */
  overflow: hidden;
  background-color: transparent;

}

#bird {
  position: absolute;
  width: 10%;
  height: auto;
  height: 15%;
  /* background-color: skyblue; */
  border-radius: 5%;
  /* Transition for smoother movement, though not strictly Flappy Bird style */
  transition: background-color 0.1s;

  background-image: url("sgd.png");
  /* background-image: url("ooh-shit-transparent.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;


  /* -webkit-mask-image: url('sgd.png'); */
  /* -webkit-mask-repeat: no-repeat; */
  /* -webkit-mask-size: contain; */

}

#score-display {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  z-index: 10;
}

/* Pipe Styling */
.pipe-container {
  position: absolute;
  width: 50px;
  height: 100%;
  transition: left 0.01s linear;
  /* Optional: Makes pipe movement smoother */
}

.pipe-top,
.pipe-bottom {
  position: absolute;
  width: 100%;

  /* background-color: red;  */

  /* Use the GIF as the pipe texture! */
  background-image: url("fire-fire-emote.gif");
  background-repeat: no-repeat;
  /* background-position: center; */

  background-size: 80px 100%;
  /* background-size: contain; */
  /* Ensures the GIF covers the 50px width */
}

.pipe-top {
  top: 0;
  /* bottom: 0; */
  transform: rotate(180deg);
}

.pipe-bottom {
  bottom: 0;
}


.playbutton {
  z-index: 10;
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* display: none; */


}