body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  margin: 0 auto;
  background: linear-gradient(skyblue, lightgreen);
  border: 2px solid #000;
  width: 100vw;
  height: 100vh;
}

.playbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}